<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<!-- Some of blocks on this page have color: #000 because GMail can wrap block in his own tags which can change text color -->
		<div
			style="
				text-align: center;
				font-family: Helvetica, Arial, sans-serif;
				font-size: 18px;
				width: 100%;
				max-width: 640px;
				margin: auto;
			"
		>
			<div style="width: 100%; margin: 20px auto; background-color: #fcd116">
				<h1
					style="
						font-size: 1.2rem;
						width: fit-content;
						text-align: left;
						position: relative;
						color: #ffffff;
						padding: 10px;
						margin-left: 20px;
						background-color: #737373;
					"
				>
					COLEXRET
				</h1>
			</div>
			<p
				style="
					position: relative;
					max-width: 640px;
					margin: 0 auto 1em auto;
					line-height: 1.4em;
					color: #000 !important;
				"
			>
				Token de confirmación de <b>{{.User}}</b> para <b>{{.Site}}</b>
			</p>
			{{- if .SubscribeURL}}
			<p
				style="position: relative; margin: 0 0 0.5em 0; color: #000 !important"
			>
				<a href="{{.SubscribeURL}}{{.Token}}"
					>Clic aquí para confirmar tu suscripción</a
				>
			</p>
			<p style="position: relative; margin: 0 0 1em 0; color: #000 !important">
				Si lo prefieres, puedes hacerlo manualmente siguiendo estas
				instrucciones:
			</p>
			{{ end }}
			<div
				style="
					background-color: #f1f1f1;
					width: 100%;
					margin: 0 auto;
					padding: 1em;
				"
			>
				<p
					style="
						position: relative;
						margin: 0 0 0.5em 0;
						color: #000 !important;
					"
				>
					TOKEN
				</p>
				<p style="position: relative; font-size: 0.7em; opacity: 0.8">
					<i style="color: #000 !important"
						>Copia y pega el siguiente texto en el capo “Token” de la página de
						comentarios para confirmar tu suscripción.</i
					>
				</p>
				<p
					style="
						position: relative;
						font-family: monospace;
						background-color: #fff;
						margin: 0;
						padding: 10px;
						word-break: break-all;
						text-align: left;
						border-radius: 0.2em;
						-webkit-user-select: all;
						user-select: all;
						font-size: 0.9rem;
					"
				>
					{{.Token}}
				</p>
			</div>
			<p
				style="
					position: relative;
					margin-top: 2em;
					font-size: 0.8em;
					opacity: 0.8;
				"
			>
				<i style="color: #000 !important">Mensaje enviado a {{.Email}}</i>
			</p>
		</div>
	</body>
</html>
