<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div
			style="
				text-align: center;
				font-family: Arial, sans-serif;
				font-size: 18px;
			"
		>
			<div style="width: 100%; margin: 20px auto; background-color: #fcd116">
				<h1
					style="
						font-size: 1.2rem;
						width: fit-content;
						text-align: left;
						position: relative;
						color: #ffffff;
						padding: 10px;
						margin-left: 20px;
						background-color: #737373;
					"
				>
					COLEXRET
				</h1>
			</div>
			<p
				style="
					position: relative;
					max-width: 20em;
					margin: 0 auto 1em auto;
					line-height: 1.4em;
				"
			>
				<b>{{.Error}}</b
				>: {{.Details}}.
			</p>
		</div>
	</body>
</html>
